h3 {
    border: 1px solid black;
    width: 500px;
    padding: 10px;
    margin: 0px;
}
p {
    position: absolute;
    top: 5px;
    left: 500px;
}
.p2 {
    position: absolute;
    top: 50px;
    left: 500px;
    color: #2d5083;
}
.ai2 {
    background-color: #d0e2ff;
    color: #2d5083;
}
body{
    font-family: calibri;
}
.text {
    border-bottom: 1px solid #d0e2ff;
    border-left: 1px solid #d0e2ff;
    border-right: 1px solid #d0e2ff;
    width: 520px;
    padding-bottom: 20px;
    
}
.p3 {
    position: absolute;
    top: 230px;
    left: 500px;
}